<ion-view title="Author Result" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="authorResult-form7" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-avatar item-icon-right  " id="authorResult-list-item37" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2010-12-全国考研真题-数学卷</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="authorResult-list-item38" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2011-12-全国考研真题-英语卷</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="authorResult-list-item39" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2012-12-全国考研真题-计算机卷</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="authorResult-list-item40" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2013-12-全国考研真题-数学卷</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="authorResult-list-item41" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2014-12-全国考研真题-英语卷</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="authorResult-list-item42" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2015-12-全国考研真题-会计卷</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
        </form>
    </ion-content>
</ion-view>