<ion-view title="Category" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="category-form1" class="list ">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search ">
            </label>
            <ion-item class="item-icon-left  " id="category-list-item49" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>高考</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item153" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>趣味</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item154" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>百科</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item50" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>英语类</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item51" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>高项</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item52" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>财会类</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item104" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>公务员</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item105" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>计算机</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item107" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>建筑类</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item108" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>医药类</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item109" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>学历类</ion-item>
            <ion-item class="item-icon-left  " id="category-list-item110" ui-sref="tabsController.subCategory">
                <i class="icon ion-ionic"></i>资格类</ion-item>
        </form>
    </ion-content>
</ion-view>