<ion-view title="Feedback" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="feedback-form5" class="list ">
            <label class="item item-input item-floating-label " id="feedback-input7">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="feedback-button10" class=" button button-positive  button-block ">提 交</button>
    </ion-content>
</ion-view>