<ion-view title="Paper Set" id="page23" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="paperSet-form16" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="paperSet-toggle5" class=" ">只看错题</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="paperSet-toggle6" class=" ">显示答案</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="paperSet-toggle7" class=" ">随机选题</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="paperSet-toggle8" class=" ">清空错题</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="paperSet-toggle9" class=" ">实时显示对错</ion-toggle>
        </form>
    </ion-content>
</ion-view>