<ion-view title="Paper List" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="paperList-heading1" style="color:#000000;" class=" ">2016-06-全国高考真题-数学卷</h1>
        <ion-list id="paperList-list8" class=" ">
            <ion-item class="item-icon-left  " id="paperList-list-item43" ui-sref="tabsController.titleList">
                <i class="icon ion-ionic"></i>单选题[10*2']</ion-item>
            <ion-item class="item-icon-left  " id="paperList-list-item117" ui-sref="tabsController.titleList">
                <i class="icon ion-ionic"></i>多选题[10*2']</ion-item>
            <ion-item class="item-icon-left  " id="paperList-list-item44" ui-sref="tabsController.titleList">
                <i class="icon ion-ios-filing-outline"></i>填空题[10*2']</ion-item>
            <ion-item class="item-icon-left  " id="paperList-list-item45" ui-sref="tabsController.titleList">
                <i class="icon ion-ios-bookmarks-outline"></i>计算题[5*10']</ion-item>
            <ion-item class="item-icon-left  " id="paperList-list-item46" ui-sref="tabsController.titleList">
                <i class="icon ion-information-circled"></i>问答题[4*10']</ion-item>
        </ion-list>
        <div class="list card " id="paperList-card21">
            <ion-item class="item-icon-left  " id="paperList-list-item100" ui-sref="tabsController.categoryResult">
                <i class="icon ion-ios-keypad"></i>高考-数学</ion-item>
            <ion-item class="item-icon-left  " id="paperList-list-item101" ui-sref="tabsController.queryResult">
                <i class="icon ion-ios-pricetag"></i>2016</ion-item>
            <ion-item class="item-icon-left  " id="paperList-list-item102" ui-sref="tabsController.authorResult">
                <i class="icon ion-ios-medkit"></i>高考命题组</ion-item>
            <a ui-sref="tabsController.paperShare" id="paperList-button11" class=" button button-positive  button-block ">分享</a>
            <a ui-sref="tabsController.paperSet" id="paperList-button19" class=" button button-positive  button-block ">设置</a>
        </div>
    </ion-content>
</ion-view>