<ion-view title="Password" id="page27" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="password-form19" class="list ">
            <label class="item item-input " id="password-textarea1">
                <span class="input-label">Email</span><textarea placeholder=""></textarea>
            </label>
        </form>
        <a ui-sref="tabsController.login" id="password-button22" class=" button button-positive  button-block ">找回密码</a>
    </ion-content>
</ion-view>