<ion-view title="Query Result" id="page20" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="queryResult-form14" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <form id="queryResult-form23" class="list ">
            <ion-item class="item-avatar item-icon-right  " id="queryResult-list-item89" ui-sref="tabsController.paperList">
                <p style="white-space:normal;">2016-06-大学英语六级真题</p>
                <i class="icon ion-android-download"></i>
            </ion-item>
        </form>
    </ion-content>
</ion-view>