<ion-view title="Sign Up" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signUp-form4" class="list ">
            <ion-list id="signUp-list5" class=" ">
                <label class="item item-input " id="signUp-input4">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input5">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signUp-input6">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 100px;"></div>
            <a ui-sref="tabsController.category" id="signUp-button9" class=" button button-stable  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>