<ion-view title="Sub Category" id="page22" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="subCategory-form15" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <ion-item class="item-icon-left  " id="subCategory-list-item112" ui-sref="tabsController.tag">
                <i class="icon ion-ionic"></i>四六级</ion-item>
            <ion-item class="item-icon-left  " id="subCategory-list-item113" ui-sref="tabsController.tag">
                <i class="icon ion-ionic"></i>雅思</ion-item>
            <ion-item class="item-icon-left  " id="subCategory-list-item114" ui-sref="tabsController.tag">
                <i class="icon ion-ionic"></i>托福</ion-item>
            <ion-item class="item-icon-left  " id="subCategory-list-item115" ui-sref="tabsController.tag">
                <i class="icon ion-ionic"></i>GRE</ion-item>
            <ion-item class="item-icon-left  " id="subCategory-list-item116" ui-sref="tabsController.tag">
                <i class="icon ion-ionic"></i>BEC</ion-item>
        </form>
    </ion-content>
</ion-view>