<ion-view title="Tag" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="tag-form13" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <form id="tag-form18" class="list ">
            <ion-checkbox>语文</ion-checkbox>
        </form>
        <a ui-sref="tabsController.queryResult" id="tag-button20" class=" button button-positive  button-block ">确定</a>
        <ion-list id="tag-list12" class=" ">
            <ion-checkbox>高一</ion-checkbox>
            <ion-checkbox>高二</ion-checkbox>
            <ion-checkbox>高三</ion-checkbox>
            <ion-checkbox>2016</ion-checkbox>
            <ion-checkbox>2015</ion-checkbox>
        </ion-list>
    </ion-content>
</ion-view>