<ion-view title="Title List" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="titleList-form17" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <ion-list id="titleList-list13" class=" ">
            <ion-item id="titleList-list-item118" ui-sref="tabsController.singleChoice" class="  ">1、 作为两化融合的升级版，（）将互联网与工业、商业、金融业等行业全面融合。</ion-item>
            <ion-item id="titleList-list-item119" ui-sref="tabsController.singleChoice" class="  ">2、 典型的信息系统项目开发的过程中，（1）阶段拟定了系统的目标、范围和要求，而系统各模块的算法一般在（2）阶段制定</ion-item>
            <ion-item id="titleList-list-item120" ui-sref="tabsController.singleChoice" class="  ">4、 随着电子商务的业务规模不断增加，物流成为制约电子商务的一个瓶颈，而（）不能解决电子商务物流的瓶颈问题。</ion-item>
            <ion-item id="titleList-list-item121" ui-sref="tabsController.singleChoice" class="  ">5、 项目经理的下述行为中，（）违背了项目管理的职业道德。</ion-item>
            <ion-item id="titleList-list-item122" ui-sref="tabsController.singleChoice" class="  ">6、 （）不是软件需求分析的目的</ion-item>
            <ion-item id="titleList-list-item123" ui-sref="tabsController.singleChoice" class="  ">7、 （）不是软件质量保证的主要职能</ion-item>
            <ion-item id="titleList-list-item124" ui-sref="tabsController.singleChoice" class="  ">8、 以下关于项目管理计划编制的理解中，正确的是：（）</ion-item>
            <ion-item id="titleList-list-item125" ui-sref="tabsController.singleChoice" class="  ">9、 软件开发过程中的技术评审的目的是（）</ion-item>
            <ion-item id="titleList-list-item126" ui-sref="tabsController.singleChoice" class="  ">10、 以下关于软件测试的叙述中，不正确的是（）</ion-item>
        </ion-list>
    </ion-content>
</ion-view>