<ion-view title="User Info" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="userInfo-list11" class=" ">
            <ion-item class="item-avatar  " id="userInfo-list-item80">
                <p>头像</p>
            </ion-item>
            <ion-item id="userInfo-list-item75" class="  ">用户名</ion-item>
            <ion-item id="userInfo-list-item77" class="  ">邮箱</ion-item>
            <ion-item id="userInfo-list-item78" class="  ">密码</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <ion-list id="userInfo-list15" class=" ">
            <ion-item class="item-icon-left item-icon-right  " id="userInfo-list-item139">
                <i class="icon ion-ionic"></i>微信
                <i class="icon ion-android-add"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="userInfo-list-item140">
                <i class="icon ion-ionic"></i>微博
                <i class="icon ion-android-add"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="userInfo-list-item141">
                <i class="icon ion-ionic"></i>QQ
                <i class="icon ion-android-add"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="userInfo-list-item142">
                <i class="icon ion-ionic"></i>支付宝
                <i class="icon ion-android-add"></i>
            </ion-item>
        </ion-list>
        <a ui-sref="login" id="userInfo-button17" class=" button button-positive  button-block ">注销</a>
    </ion-content>
</ion-view>